// .AboutClinic {
//   background-image: url(https://thumb.tildacdn.com/tild6637-3337-4936-a331-383338316165/-/format/webp/17_Work_meeting.jpg) -webkit-linear-gradient(
//       top,
//       rgba(0, 0, 0, 0.4),
//       rgba(0, 0, 0, 0.4)
//     );
//   width: 100%; /* Ширина элемента */
//   height: 70vh; /* Высота элемента */

//   /* Добавьте фоновое изображение */
//   background-repeat: no-repeat; /* Избежать повторения изображения */
//   background-size: cover; /* Обрезать изображение так, чтобы оно полностью покрывало элемент */
//   background-position: center center;
//   background-attachment: fixed;
// }

.AboutClinic {
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url(https://thumb.tildacdn.com/tild6637-3337-4936-a331-383338316165/-/format/webp/17_Work_meeting.jpg);
  // filter: brightness(50%) saturate(80%);
  width: 100%;
  height: 80vh;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  .AboutClinic_img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    position: absolute;
    background-image: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    );
  }

  .AboutClinic_h1 {
    font-family: "Roboto";
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 9px;
    color: white;
    font-size: 40px;
  }
}
