.NavLinks {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-start;

  max-width: 100%;
  width: 100%;

  .nav_ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    display: none;

    max-width: 1000px;
    width: 100%;

    li {
      display: flex;
      align-items: center;
      text-align: center;

      list-style-type: none;
      font-family: "Roboto";
      transition: all ease-in 0.3s;

      a {
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;

        color: var(--primary-color);

        font-weight: 500;
        font-size: 20px;

        text-decoration: none;
        font-family: "Roboto";
        transition: all ease-in 0.3s;

        &:hover {
          transition: all ease-in 0.3s;

          color: var(--primary-hover-color);
        }
      }
    }
  }

  @media (min-width: 1400px) {
    justify-content: center;

    .nav_ul {
      display: flex;
    }
  }
}
