html,
body {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  color: #493c3c;

  width: 100%;
  height: 100%;
}

.ErrorPage {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  background-image: url(https://img.freepik.com/premium-photo/404-page-found-error-concept-with-3d-digits-panic-person-holds-his-head-light-blue-background_670147-39760.jpg?w=1380);
}

